#container{
    padding: 5%;
    padding-top: 3%;
}

#list-container{
    width: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

h1{
    margin-bottom: 2%;
}

.progress {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.list-group-item{
    margin: 0.5%;
}

@media only screen and (max-width: 800px) {
    .progress {
      width: 100%;
      margin-bottom: 5%;
    }
    #list-container{
        width: 100%;
    }
    h1{
        margin-bottom: 5%;
    }
  }